/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #fff8f3;
}
main section{
    margin-top: 130px;
}
.primary-color{
    color: #FD6E0A;
}
.title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

    }
/* start navigation */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px;
}
    
.nav-title{
    color: #181818;
    font-size: 45px;
}
nav > ul{
    display: flex;
    align-items: center;
    
}

nav li{
    list-style: none;
    margin-right: 51px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 36px;
}
/* end of the navbar section */

.banner-section{
    display: flex;
    padding: 38px 38px 0px 150px;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.text h3{
    color: #474747;
    font-size: 45px;
    margin-bottom: 0;
}
.text h1{
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.text p{
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 585px;
}
.banner-section img{
    width: 584px;
    height: 676px;
}

/* end of the header part */
/* start of the main section */
main{
    max-width : 1140px;
    height: 550px;
    margin: 0 auto;
}
.about{
    width: 1140px;
    height: 550px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    padding: 131px 156px;
}
.description{
    padding: 30px 156px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 179px;
    margin-right: 50px;
}
.about-info{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.what{
    width: 1140px;
    height: 550px;
    margin: 130px 0;
    padding: 131px 156px;
}

.skill-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    
    
}
.skill-descriptiop{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}